.bugs-app {
    padding: 20px;
    background-color: #f4f4f9;
}

.app-title {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.info-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters-and-sorts {
    /* display: flex; */
    /* justify-content: space-around; */
    /* display: flex; */
    width: 100%;
    margin: 10px 0;
}

.add-bug-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-bug-button:hover {
    background-color: #0056b3;
}

.pagination-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pagination-button {
    padding: 10px;
    margin: 0 5px;
    background-color: #a5ec32;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-info {
    margin: 0 10px;
    font-weight: bold;
}

.label-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.label-button {
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.label-button.active {
    background-color: #0056b3;
}

.label-button:hover {
    background-color: #0056b3;
}

.bug-list {
    margin-top: 20px;
}

.View-Deleted {
    background-color: #a5ec32; 
    color: #fff;               
    border: none;             
    border-radius: 5px;      
    padding: 10px 20px;       
    cursor: pointer;           
}

.View-Deleted:hover {
    background-color: #8bdc2b; 
}

@media (max-width: 600px) {
    .filters-and-sorts {
        flex-direction: column;
        align-items: center;

    }

    .label-buttons {
        flex-direction: column;
    }

    .label-button {
        width: 100%;
        margin: 5px 0;
    }

    form.bug-sort {
        margin: 0;
        width: 16.25rem;
    }


}

/* @media (max-width: 1800px) {
    .pagination {
       top:100px ;
       margin-top: 100px;
    }
} */